<h1>Listing pomodoros</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pomodoros.each do |pomodoro| %>
  <tr>
    <td><%= pomodoro.day %></td>
    <td><%= pomodoro.count %></td>
    <td><%= link_to 'Show', pomodoro %></td>
    <td><%= link_to 'Edit', edit_pomodoro_path(pomodoro) %></td>
    <td><%= link_to 'Destroy', pomodoro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pomodoro', new_pomodoro_path %>
